<button
	class="choice-button is-white"
	[ngClass]="{ 'is-primary': storageService.choiceHasAnswerOfValue(choice.id, answerEnum[answerKind]) }"
	(click)="storageService.toggleAnswer(choice.id, answerEnum[answerKind])"
	*ngIf="poll.allowed_answers.indexOf(answerEnum[answerKind]) !== -1"
>
	<img class="image is-24x24" src="../../../assets/img/icon_voter_{{ answerKind }}.svg" />

	<span class="counter" *ngIf="choice[answerEnum[answerKind]].count * 1 > 0">
		{{ choice[answerEnum[answerKind]].count }}
	</span>
</button>
