@charset "UTF-8";

html {
	font-size: 1rem; /* equals 16px */
	color: $font_color;
	height: 100%;

	* {
		box-sizing: border-box;
	}
}
body {
	height: 100%;
}

form {
	margin: 0 !important;
}
.description {
	font-size: 12px;
	color: $font_color_light !important;
	margin-bottom: 0.5rem;
}
main {
	min-height: 60vh;
}

.min-height {
	padding-bottom: 1em;
	min-height: 50vh;
}

.content {
	padding: 1em;
}

.footer {
	padding: 0;
}
.main-footer {
	background: $primary-color;
	color: $white;
	padding-top: 2rem;
	.title {
		color: $white;
	}

	.content {
		ul {
			padding: 0;
			margin-left: 0;
		}
	}
}

.columns {
	&.half-columns {
		width: 100%;
		max-width: 100vw;
		margin: 0 auto;
		padding: 0;

		.column {
			width: 50% !important;
		}
	}
}
.top-padding-nav {
	padding-top: $header-nav-height;
}
.contained-in-main-column {
	max-width: $main-column-width;
	margin: 0 auto;
	display: block;
}
.contained-in-large-column {
	max-width: $large-column-width;
	margin: 0 auto;
	width: 100vw;
	display: block;
}
.contained-desktop,
.stuff {
	display: block;

	margin: 0 auto;
}
